<h5 class="border-bottom border-primary-subtle pb-2 mb-0">Öğrenci Devamsızlık Güncelle</h5>

<div class="bg-body rounded-bottom shadow-sm p-4">
    <form *ngIf="studentAbsenceEditForm" [formGroup]="studentAbsenceEditForm">
        <div class="mb-3">
            <label for="student-lesson-input" class="form-label">Ders</label>
            <select id="student-lesson-input" class="form-select" formControlName="lessonId">
                <option [ngValue]="lesson.id" *ngFor="let lesson of lessons">{{ lesson.name }}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="student-date-input" class="form-label">Tarih</label>
            <input type="date" id="student-date-input" class="form-control" formControlName="date">
        </div>
        <div class="mb-3">
            <label for="student-status-input" class="form-label">Devamsızlık Durumu</label>
            <select id="student-status-input" class="form-select" formControlName="status">
                <option [ngValue]=true>Geldi</option>
                <option [ngValue]=false>Gelmedi</option>
            </select>
        </div>
        <button (click)="update()" type="submit" class="btn btn-lg btn-warning w-100">Güncelle</button>
    </form>
</div>